<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Contact Us</h1>
        <div class="buttons">
            <a class="button button-small button-clear button-icon icon ion-close" ng-click="closeContact()">Close</a>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="card">
            <div class="item item-divider"><h4>(513) 871-0914</h4></div>
            <div class="item item-text-wrap"><a class="button icon-left  ion-ios-telephone button-outline button-positive" href="tel:+1-513-871-0914">Call us</a></div>
        </div>
        <div class="card">
            <div class="item item-divider"><h4>delaartsplace@earthlink.net</h4></div>
            <div class="item item-text-wrap"><a class="button icon-left ion-email button-outline button-positive" href="mailto:delaartsplace@earthlink.net">Email us</a></div>
        </div>

        <div class="card">

            <div class="item item-divider"><h4>3833 Eastern Ave. Cincinnati, Ohio 45226</h4></div>
            <div class="item item-text-wrap"><a class="button icon-left ion-map button-outline button-positive" ng-click="showMap()">Find Us</a></div>
        </div>
        <div class="card">
            <div class="item item-divider">
                <h4>Write us a message</h4>
            </div>
            <div class="item item-text-wrap">
                <p>Contact form goes here</p>
            </div>
        </div>
    </ion-content>
    <!--<ion-footer-bar class="bar-dark">
        <div class="buttons">
            <a class="button button-small button-clear button-icon icon ion-close" ng-click="closeContact()">Close</a>
        </div>
    </ion-footer-bar>-->
</ion-modal-view>