<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Map</h1>
        <div class="buttons">
            <a class="button button-small button-clear button-icon icon ion-close" ng-click="closeMap()">Close</a>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" data-tap-disabled="true">
        <div class="padding text-center">
            <h5>3833 Eastern Ave. Cincinnati, Ohio 45226</h5>
        </div>

        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <!--<ion-footer-bar class="bar-dark">
        <div class="buttons">
            <a class="button button-small button-clear button-icon icon ion-close" ng-click="closeMap()">Close</a>
        </div>
    </ion-footer-bar>-->
</ion-modal-view>