<ion-view view-title="Map" class="stable">
    <ion-content>
        <!--<div class="padding text-center">
            <h5>3833 Eastern Ave. Cincinnati, Ohio 45226</h5>    
        </div>-->
        
        <div id="map" data-tap-disabled="true" class="padding calm"></div>
        
        
        <!--<div class="buttons">
            <a class="button button-clear button-icon icon ion-navigate" ng-click="centerOnMe()">Find Me</a>        
        </div>-->

    </ion-content>
    <!--<ion-footer-bar class="bar-dark">
            <div class="buttons">
                <a class="button button-clear button-icon icon ion-navigate" ng-click="centerOnMe()">Find Me</a>             
            </div>
        </ion-footer-bar>-->
    
    <div class="bar bar-footer bar-stable">
        <div class="title">3833 Eastern Ave, Cincinnati, Ohio 45226</div>
    </div>
</ion-view>